* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
.item-1 > h1 {
  font-size: 40;
  font-weight: bold;
}

/*SETTING  ITEM AREAS START*/
.item-1 {
  grid-area: item-1;
}

.item-2 {
  grid-area: item-2;
}

.item-3,
.scroll-down {
  grid-area: item-3;
}

.item-4 {
  grid-area: item-4;
}

.item-5 {
  grid-area: item-5;
}

.item-6 {
  grid-area: item-6;
}

.item-7 {
  grid-area: item-7;
}

.item-8 {
  grid-area: item-8;
}

.item-9 {
  grid-area: item-9;
  margin-bottom: 50px;
}

/*SETTING  ITEM AREAS END*/

#nd-logo {
  font-weight: bold;
  color: #f95419;
  font-size: 1.5rem;
}

nav {
  margin-left: 9%;
  margin-right: 9%;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus,
.navbar-toggler-icon {
  outline: none;
  box-shadow: none;
  border: none;
  border-color: #ffff;
}

.footer {
  position: relative;
  clear: both;
  width: 100%;
  background: #f95419;
  bottom: 0;
  margin-bottom: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 50px;
  align-items: center;
  grid-row-gap: 80px;
  padding-right: 20%;
  padding-left: 20%;

  grid-template-areas:
    "item-1 item-1 item-1 item-2"
    "item-3 item-3 item-3 item-3"
    "item-4 item-5 item-5 item-5"
    "item-6 item-6 item-6 item-7"
    "item-9 item-8 item-8 item-8";
}

.footer-grid {
  padding-top: 30px;
  padding-bottom: 30px;
  display: grid;
  margin-left: 20%;
  margin-right: 20%;
  grid-template-columns: repeat(3, 1fr);
}

.grid-container > .item-1,
.item-2 {
  font-family: "Poppins", sans-serif;
  right: 0;
  left: 0;
  padding-top: 125px;
}

#footer-social-icons {
  margin-left: auto;
}

.Download_on_the_App_Store_Badge_TR_wht_RGB_100217 {
  width: 9.456rem;
  height: 2.5rem;
  margin: 2.5rem 1.294rem 0.625rem 0;
  object-fit: contain;
}

.google-play-badge {
  width: 9.688rem;
  height: 3.75rem;
  margin: 1.875rem 3.313rem 0 0;
  object-fit: contain;
}

.scroll-down {
  height: 50px;
  width: 30px;
  border: 2px solid black;
  position: relative;
  bottom: 20px;
  border-radius: 50px;
  cursor: pointer;
  margin: auto;
}

.scroll-down::before,
.scroll-down::after {
  content: "";
  position: absolute;
  top: 20%;
  left: 50%;
  height: 10px;
  width: 10px;
  transform: translate(-50%, -100%) rotate(45deg);
  border: 2px solid black;
  border-top: transparent;
  border-left: transparent;
  animation: scroll-down 1s ease-in-out infinite;
}

.scroll-down::before {
  top: 30%;
  animation-delay: 0.3s;
  /* animation: scroll-down 1s ease-in-out infinite; */
}

.description-text {
  padding-top: 20px;
}

@keyframes scroll-down {
  0% {
    /* top:20%; */
    opacity: 0;
  }

  30% {
    opacity: 1;
  }

  60% {
    opacity: 1;
  }

  100% {
    top: 90%;
    opacity: 0;
  }
}

#scroll-button {
  position: relative;
}

.typewriter-text {
  color: black;
}

.icon-bar {
  right: 0%;
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

#footer-brand {
  grid-column-start: 1;
  grid-column-end: 3;
}

#footer-social-icons {
  grid-column-start: 3;
  grid-column-end: 4;
}

#twitter,
#instagram {
  width: 30px;
}

/*Extra-Small(xs) size in bootstrap*/
@media (max-width: 575.98px) {
  .grid-container {
    grid-row-gap: 30px;
    grid-template-columns: 1fr;
    grid-template-areas:
      "item-1"
      "item-2"
      "item-3"
      "item-5"
      "item-4"
      "item-6"
      "item-7"
      "item-8"
      "item-9";
    text-align: center;
  }

  .icon-bar {
    display: none;
  }

  .item-1 {
    padding-top: 10px;
  }

  .item-2 {
    padding-top: 23px;
  }

  .item-1,
  .item-2,
  .item-4,
  .item-5,
  #footer-brand,
  #footer-social-icons {
    text-align: center;
  }

  #footer-brand {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  #footer-social-icons {
    grid-column-start: 3;
    grid-column-end: 4;
  }

  .item-2,
  .item-4,
  #footer-brand,
  #footer-social-icons {
    margin-left: auto;
    margin-right: auto;
  }

  #footer-brand {
    grid-column-start: 1;
    grid-column-end: 4;
  }

  #footer-social-icons {
    grid-column-start: 1;
    grid-column-end: 4;
  }
}

/*Small(sm) size in Bootstrap*/
@media (min-width: 576px) and (max-width: 767.98px) {
  .grid-container {
    grid-row-gap: 30px;
    grid-template-columns: 1fr;
    grid-template-areas:
      "item-1"
      "item-2"
      "item-3"
      "item-5"
      "item-4"
      "item-6"
      "item-7"
      "item-8"
      "item-9";
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
  }

  .grid-container {
    grid-row-gap: 10px;
    grid-template-columns: 1fr;
    margin-left: auto;
    margin-right: auto;
  }

  .icon-bar {
    display: none;
  }

  .item-1 {
    padding-top: 10px;
  }

  .item-2 {
    padding-top: 0px;
  }

  .item-3 {
    margin-top: 30px;
  }

  #footer-brand {
    grid-column-start: 1;
    grid-column-end: 4;
  }

  #footer-social-icons {
    grid-column-start: 1;
    grid-column-end: 4;
  }
}

/*Medium(md) size in bootstrap*/
@media (min-width: 768px) and (max-width: 991.98px) {
}

/*Large(lg) size in Bootstrap*/
@media (min-width: 992px) and (max-width: 1199.98px) {
}

/*Extra Large size in Bootstrap*/
@media (min-width: 1200px) {
  .grid-container {
    padding-left: 25%;
    padding-right: 25%;
  }

  nav {
    margin-left: 20%;
    margin-right: 20%;
  }
}

@media (min-width: 1600px) {
  .grid-container {
    padding-left: 30%;
    padding-right: 30%;
  }

  nav {
    margin-left: 25%;
    margin-right: 25%;
  }

  .footer-grid {
    margin-left: 25%;
    margin-right: 25%;
  }
}
